//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================
//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
// @import "icons";
//</Иконочные шрифты>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "PlusJakartaSans";
$fontSize: 16px;
//</Шрифт по умолчанию>=================================
//</ШРИФТЫ>=================================

//<Swiper>=================================
//</Swiper>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1440; //ширина полотна
$maxWidthContainer: 1240; //ограничивающий контейнер 1200 +40 padding
$md1: 1365.98;
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$blueColor: #4475f2;
$mainColor: #5e6282;
$lightGrayColor: #9a9ea6;
$lightBlueColor: #23a6f0;
$darkBlueColor: #181e4b;
$hoverCololr: #4737ff;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	line-height: 187.5%;
	font-weight: 500;

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
// @import "datepicker";
// @import "../scss/libs/gallery/lightgallery";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================

//<ОБЩИЕ СТИЛИ>=================================
.page {
	// .page__main
	&__main {
		margin: 0px 0px 170px 0px;
	}
}
//</ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================
.main {
	// overflow: hidden;
	// .main__wrapper
	&__wrapper {
		@media (min-width: ($md2+px)) {
			position: relative;
			z-index: 1;
		}
	}
	// .main__container
	&__container {
	}
	// .main__body
	&__body {
		@media (max-width: ($md5+px)) {
			// padding: 0px 30px 0px 0px;
		}
		@media (min-width: ($md2+px)) {
			display: flex;
			position: relative;
		}
	}
	// .main__content
	&__content {
		@include adaptiv-value("padding-top", 168, 60, 1);
		@media (min-width: ($md2+px)) {
			flex: 0 1 50%;
		}
		@media (max-width: ($md2+px)) {
			position: relative;
		}
	}
	// .main__media
	&__media {
		min-height: 540px;
		flex: 0 1 50%;
		@include adaptiv-value("padding-top", 168, 60, 1);
	}
}
.content {
	// .content__title
	&__title {
		@include adaptiv-value("font-size", 76, 42, 1);
		font-size: 76px;
		font-weight: 800;
		line-height: calc((89 / 76) * 100%);
		letter-spacing: -3.04px;
		color: $darkBlueColor;
		margin: 0px 0px 30px 0px;
		padding: 0px 10px 0px 0px;
		text-shadow: 0 0 10px #fff;
		a {
			transition: color 0.3s ease 0s;
			font-weight: 800;
			line-height: calc((89 / 76) * 100%);
			letter-spacing: -3.04px;
			color: $blueColor;
			@media (any-hover: hover) {
				&:hover {
					color: $hoverCololr;
					text-decoration: underline;
				}
			}
		}
	}
	// .content__text
	&__text {
		@include adaptiv-value("font-size", 16, 14, 1);
		@include adaptiv-value("width", 501, 300, 1);
		margin: 0px 0px 34px 0px;
		padding: 0px 10px 0px 0px;
		text-shadow: 0 0 5px #fff;
		p {
			&:not(:last-child) {
				margin: 0px 0px calc(30px / 16px * 1em) 0px;
			}
		}
	}
	// .content__button
	&__button {
		display: inline-block;
		padding: 18px 54px;
		background-color: $blueColor;
		border-radius: 10px;
		box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.25);
		color: #fff;
		font-weight: 700;
		line-height: calc((25 / 16) * 100%);
		margin: 0px 0px 30px 0px;
		transition: all 0.3s ease 0s;
		@media (max-width: ($md5+px)) {
			box-shadow: 0 0 15px #fff;
			// margin: 0px auto;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: translate(0px, 3px);
				background-color: $hoverCololr;
				box-shadow: 0 0 15px $hoverCololr;
			}
		}
	}
	// .main__blue-element
	&__blue-element {
		&::before,
		&::after {
			position: absolute;
			z-index: -1;
			display: inline-block;
			content: "";
			width: 100vw;
			height: 100%;
			bottom: 0;
			background-color: $blueColor;
			border-radius: 0 0 0 50px;
			box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);
		}
		&::before {
			@include adaptiv-value("left", 630, 110, 1);
			transform: skewX(-23deg);
			transform-origin: bottom left;
		}
		&::after {
			@include adaptiv-value("left", 600, 80, 1);
			width: 100vw;
			transform: skewX(32deg);
			transform-origin: top left;
		}
		@media (max-width: ($md5+px)) {
			&::before {
				// left: calc(30% + 30px);
			}
			&::after {
				// left: 30%;
			}
		}
	}
}
.media {
	// .media__wrapper
	&__wrapper {
		position: relative;
		@media (max-width: ($md4+px)) {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 20px;
		}
	}
	// .media__image
	&__image {
		&_1,
		&_2,
		&_3,
		&_4 {
			@media (min-width: ($md4+px)) {
				position: absolute;
			}
			border-radius: 10px;
			display: inline-block;
			box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
			@media (max-width: ($md4+px)) {
				display: flex;
				img {
					width: 280px;
					position: static;
				}
			}
		}
		// .media__image_1
		&_1 {
			@media (min-width: ($md4+px)) {
				width: calc(143 / 600 * 100%);
				padding: 0px 0px 35.7% 0px;
				left: calc(236 / 600 * 100%);
			}
		}
		// .media__image_2
		&_2 {
			@media (min-width: ($md4+px)) {
				width: calc(150 / 600 * 100%);
				padding: 0px 0px 38% 0px;
				left: calc(450 / 600 * 100%);
				top: 120px;
			}
		}
		// .media__image_3
		&_3 {
			@media (min-width: ($md4+px)) {
				width: calc(209 / 600 * 100%);
				padding: 0px 0px 50.4% 0px;
				top: 204px;
			}
		}
		// .media__image_4
		&_4 {
			@media (min-width: ($md4+px)) {
				width: calc(108 / 600 * 100%);
				padding: 0px 0px 27.2% 0px;
				left: calc(308 / 600 * 100%);
				top: 353px;
			}
		}
	}
}
//</MAIN>=================================

//<HOW>=================================
.how {
	// .how__container
	&__container {
	}
	// .how__title
	&__title {
		text-align: center;
		@include adaptiv-value("margin-bottom", 70, 30, 1);
	}
	// .how__body
	&__body {
	}
	// .how__columns
	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		@include adaptiv-value("row-gap", 45, 30, 1);
		@include adaptiv-value("column-gap", 100, 0, 1);
		@media (min-width: ($md3+px)) {
		}
		@media (max-width: ($md3+px)) {
			grid-template-columns: repeat(auto-fill, minmax(auto, 260px));
			justify-content: center;
		}
	}
}
.columns-how {
	// .columns-how__item
	&__item {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:nth-child(3) .columns-how__line,
		&:last-child .columns-how__line {
			display: none;
		}
		@media (max-width: ($md3+px)) {
			justify-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				.columns-how__line::after,
				.columns-how__line::before {
					transform: translate(0, -50%) scale(1.3);
					animation: pulse 1.2s linear infinite;
					/* ключевые кадры */
					@keyframes pulse {
						0% {
							// opacity: 1;
							// visibility: visible;
							transform: translate(0, -50%) scale(1);
						}
						50% {
							// opacity: 0;
							// visibility: hidden;
							transform: translate(0, -50%) scale(1.7);
						}
						100% {
							// opacity: 0;
							// visibility: hidden;
							transform: translate(0, -50%) scale(1);
						}
					}
				}
			}
		}
	}
	// .columns-how__icon
	&__icon {
		flex: 1 1 auto;
		@media (any-hover: hover) {
			&:hover {
				.columns-how__frame::before {
					transform: scale(1.3);
				}
			}
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 50, 25, 1);
		}
	}
	// .columns-how__line
	&__line {
		position: relative;
		@include adaptiv-value("width", 210, 0, 1);
		@media (max-width: ($md3+px)) {
			display: none;
		}
		// .columns-how__line_left
		&_left {
			background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%),
				linear-gradient(90deg, #9672ff, #4de0fd);
		}
		// .columns-how__line_right
		&_right {
			background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%),
				linear-gradient(90deg, #4de0fd, #f2b8ec);
			&::before {
				background-color: #4de0fd;
			}
			&::after {
				background-color: #f2b8ec;
			}
		}
		@media (max-width: ($md3+px)) {
			// width: 200%;
		}
	}
	// .columns-how__frame
	&__frame {
		width: 90px;
		height: 90px;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		&::before {
			transition: transform 0.3s ease 0s;
			font-size: 25px;
			color: #fff;
		}
		// .columns-how__frame_purple
		&_purple {
			background-color: #9672ff;
			box-shadow:
				0px 100px 80px 0px rgba(150, 114, 255, 0.07),
				0px 64.815px 46.852px 0px rgba(150, 114, 255, 0.05),
				0px 38.519px 25.481px 0px rgba(150, 114, 255, 0.04),
				0px 20px 13px 0px rgba(150, 114, 255, 0.04),
				0px 8.148px 6.519px 0px rgba(150, 114, 255, 0.03),
				0px 1.852px 3.148px 0px rgba(150, 114, 255, 0.02);
		}
		// .columns-how__frame_blue
		&_blue {
			background-color: #4ddffd;
			box-shadow:
				0px 100px 80px 0px rgba(77, 223, 253, 0.07),
				0px 64.815px 46.852px 0px rgba(77, 223, 253, 0.05),
				0px 38.519px 25.481px 0px rgba(77, 223, 253, 0.04),
				0px 20px 13px 0px rgba(77, 223, 253, 0.04),
				0px 8.148px 6.519px 0px rgba(77, 223, 253, 0.03),
				0px 1.852px 3.148px 0px rgba(77, 223, 253, 0.02);
		}
		// .columns-how__frame_pink
		&_pink {
			background-color: #f2b8ec;
			box-shadow:
				0px 100px 80px 0px rgba(242, 184, 236, 0.07),
				0px 64.815px 46.852px 0px rgba(242, 184, 236, 0.05),
				0px 38.519px 25.481px 0px rgba(242, 184, 236, 0.04),
				0px 20px 13px 0px rgba(242, 184, 236, 0.04),
				0px 8.148px 6.519px 0px rgba(242, 184, 236, 0.03),
				0px 1.852px 3.148px 0px rgba(242, 184, 236, 0.02);
		}
	}
	// .columns-how__body
	&__body {
		text-align: center;
		h2 {
			@include adaptiv-value("font-size", 22, 20, 1);
		}
	}
}
//</HOW>=================================
//<ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================

//</MAIN>=================================

//<VISIT>=================================

//</VISIT>=================================

//<SESSION>=================================

//</SESSION>=================================

//<STAGES>=================================

//</STAGES>=================================

//<PARTICIPANTS>=================================

//</PARTICIPANTS>=================================

//<ХЛЕБНЫЕ КРОШКИ>=================================
//</ХЛЕБНЫЕ КРОШКИ>=================================

//</ОСНОВНОЙ БЛОК>=================================
