//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================
//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "PlusJakartaSans";
$fontSize: 16px;
//</Шрифт по умолчанию>=================================
//</ШРИФТЫ>=================================

//<Swiper>=================================
//</Swiper>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1440; //ширина полотна
$maxWidthContainer: 1240; //ограничивающий контейнер 1200 +40 padding
$md1: 1365.98;
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$blueColor: #4475f2;
$mainColor: #5e6282;
$lightGrayColor: #9a9ea6;
$lightBlueColor: #23a6f0;
$darkBlueColor: #181e4b;
$hoverCololr: #4737ff;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	line-height: 187.5%;
	font-weight: 500;

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
// @import "datepicker";
// @import "../scss/libs/gallery/lightgallery";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================

//<ОБЩИЕ СТИЛИ>=================================
.page {
	// .page__main
	&__main {
		// margin: 0px 0px 170px 0px;
		@include adaptiv-value("margin-bottom", 170, 50, 1);
	}
	// .page__features
	&__features {
		@include adaptiv-value("margin-bottom", 200, 50, 1);
	}
	// .page__services
	&__services {
	}
}
.title-box {
	@include adaptiv-value("margin-bottom", 90, 35, 1);
	// .title-box__subtitle
	&__subtitle {
		color: $blueColor;
		font-size: 18px;
		@include adaptiv-value("font-size", 18, 16, 1);
		font-weight: 800;
		letter-spacing: 1.71px;
		text-transform: uppercase;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 10, 0, 1);
		}
	}
	// .title-box__title
	&__title {
		color: #000;
		@include adaptiv-value("font-size", 48, 34, 1);
		font-weight: 800;
		line-height: calc((65 / 48) * 100%);
		letter-spacing: 0.48px;
	}
}
.label-box {
	// .label-box__title
	&__title {
		color: #000;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.48px;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 28, 18, 1);
		}
	}
	// .label-box__text
	&__text {
	}
}

//</ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================
.main {
	// overflow: hidden;
	// .main__wrapper
	&__wrapper {
		@media (min-width: ($md2+px)) {
			position: relative;
			z-index: 1;
		}
	}
	// .main__container
	&__container {
	}
	// .main__body
	&__body {
		display: flex;
		@media (min-width: ($md2+px)) {
			position: relative;
		}
		@media (max-width: ($md2+px)) {
			flex-direction: column;
		}
	}
	// .main__content
	&__content {
		@include adaptiv-value("padding-top", 168, 60, 1);
		@media (min-width: ($md2+px)) {
			flex: 0 1 50%;
		}
		@media (max-width: ($md2+px)) {
			position: relative;
			// max-width: 50%;
			@include adaptiv-value("width", 600, 280, 1);
		}
	}
	// .main__media
	&__media {
		flex: 0 1 50%;
		@include adaptiv-value("padding-top", 168, 60, 1);
	}
}
.content {
	// .content__wrapper
	&__wrapper {
	}
	// .content__title
	&__title {
		@include adaptiv-value("font-size", 76, 42, 1);
		font-size: 76px;
		font-weight: 800;
		line-height: calc((89 / 76) * 100%);
		letter-spacing: -3.04px;
		color: $darkBlueColor;
		margin: 0px 0px 30px 0px;
		padding: 0px 10px 0px 0px;
		text-shadow: 0 0 10px #fff;
		a {
			transition: color 0.3s ease 0s;
			font-weight: 800;
			line-height: calc((89 / 76) * 100%);
			letter-spacing: -3.04px;
			color: $blueColor;
			@media (any-hover: hover) {
				&:hover {
					color: $hoverCololr;
					text-decoration: underline;
				}
			}
		}
	}
	// .content__text
	&__text {
		margin: 0px 0px 34px 0px;
		padding: 0px 10px 0px 0px;
		text-shadow: 0 0 5px #fff;
		p {
			&:not(:last-child) {
				margin: 0px 0px calc(30px / 16px * 1em) 0px;
			}
		}
	}
	// .content__button
	&__button {
		display: inline-block;
		// padding: 18px 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 200px;
		min-height: 52px;
		background-color: $blueColor;
		border-radius: 10px;
		box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.25);
		color: #fff;
		font-weight: 700;
		line-height: calc((25 / 16) * 100%);
		margin: 0px 0px 30px 0px;
		transition: all 0.3s ease 0s;
		span {
			transition: all 0.3s ease 0s;
		}
		@media (max-width: ($md5+px)) {
			box-shadow: 0 0 15px #fff;
			// margin: 0px auto;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: translate(0px, 3px);
				background-color: $hoverCololr;
				box-shadow: 0 0 15px $hoverCololr;
				span {
					transform: scale(1.2);
				}
			}
		}
	}
	// .main__blue-element
	&__blue-element {
		&::before,
		&::after {
			position: absolute;
			z-index: -1;
			display: inline-block;
			content: "";
			width: 100vw;
			height: 100%;
			bottom: 0;
			background-color: $blueColor;
			border-radius: 0 0 0 50px;
			box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);
		}
		&::before {
			@include adaptiv-value("left", 630, 110, 1);
			transform: skewX(-23deg);
			transform-origin: bottom left;
		}
		&::after {
			@include adaptiv-value("left", 600, 80, 1);
			width: 100vw;
			transform: skewX(32deg);
			transform-origin: top left;
		}
		@media (max-width: ($md5+px)) {
			&::before {
				// left: calc(30% + 30px);
			}
			&::after {
				// left: 30%;
			}
		}
	}
}
.media {
	// .media__wrapper
	&__wrapper {
		position: relative;
		@media (max-width: ($md2+px)) {
			display: flex;
			justify-content: center;
			gap: 20px;
			flex-wrap: wrap;
		}
	}
	// .media__image
	&__image {
		&_1,
		&_2,
		&_3,
		&_4 {
			border-radius: 10px;
			display: inline-block;
			box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
			@media (max-width: ($md2+px)) {
				max-width: 280px;
				img {
					position: static;
				}
			}
			@media (min-width: ($md2+px)) {
				position: absolute;
			}
		}
		// .media__image_1
		&_1 {
			@media (min-width: ($md2+px)) {
				width: calc(143 / 600 * 100%);
				padding: 0px 0px 35.7% 0px;
				left: calc(236 / 600 * 100%);
			}
		}
		// .media__image_2
		&_2 {
			@media (min-width: ($md2+px)) {
				width: calc(150 / 600 * 100%);
				padding: 0px 0px 38% 0px;
				left: calc(450 / 600 * 100%);
				top: 120px;
			}
		}
		// .media__image_3
		&_3 {
			@media (min-width: ($md2+px)) {
				width: calc(209 / 600 * 100%);
				padding: 0px 0px 50.4% 0px;
				top: 204px;
			}
		}
		// .media__image_4
		&_4 {
			@media (min-width: ($md2+px)) {
				width: calc(108 / 600 * 100%);
				padding: 0px 0px 27.2% 0px;
				left: calc(308 / 600 * 100%);
				top: 353px;
			}
		}
	}
}
//</MAIN>=================================

//<FEATURES>=================================
.features {
	// .features__container
	&__container {
	}
	// .features__title
	&__title {
	}
	// .features__body
	&__body {
	}
	// .features__columns
	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		row-gap: 45px;
		@include adaptiv-value("column-gap", 186, 0, 1);
		@media (min-width: ($md3+px)) {
		}
		@media (max-width: ($md3+px)) {
			grid-template-columns: repeat(auto-fill, minmax(auto, 260px));
			justify-content: center;
		}
	}
}
.columns-features {
	// .columns-features__item
	&__item {
		// min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: ($md3+px)) {
			// justify-content: center;
		}
	}
	// .columns-features__icon
	&__icon {
		flex: 1 1 auto;
		@media (any-hover: hover) {
			&:hover {
				.columns-features__frame::before {
					transform: scale(1.2);
				}
				.columns-features__frame {
					transform: translate(0px, 3px);
					background-color: $hoverCololr;
					box-shadow: 0 0 15px $hoverCololr;
				}
			}
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 20, 15, 1);
		}
	}
	// .columns-features__frame
	&__frame {
		width: 102px;
		height: 102px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 26px;
		background-color: $blueColor;
		box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
		transition: all 0.3s ease 0s;
		&::before {
			transition: transform 0.3s ease 0s;
			font-size: 39px;
			color: #fff;
		}
		// .columns-features__frame_search
		&_search {
		}
		// .columns-features__frame_review
		&_review {
		}
		// .columns-features__frame__wishlist
		&__wishlist {
		}
	}
	// .columns-features__body
	&__body {
		text-align: center;
		h2 {
			@include adaptiv-value("font-size", 22, 20, 1);
		}
	}
}
//</FEATURES>=================================
//<SERVICES>=================================
.services {
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
	}
	// .services__wrapper
	&__wrapper {
	}
	// .services__column
	&__column {
		display: flex;
		flex-direction: column;
	}
	// .services__row
	&__row {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 140, 45, 1);
		}
		@media (min-width: ($md3+px)) {
			display: flex;
			&:last-child {
				flex-direction: row-reverse;
			}
			&:not(:last-child) {
				.services-row__content {
					@include adaptiv-value("margin-right", 64, -60, 1);
					@include adaptiv-value("margin-left", 125, 0, 1);
				}
			}
		}
	}
}

.services-row {
	// .services-row__item
	&__item {
		@media (min-width: ($md3+px)) {
			flex: 0 1 50%;
		}
		@media (max-width: ($md3+px)) {
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	// .services-row__image
	&__image {
		border-radius: 10px;
		padding: 0px 0px 66% 0px;
		box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
		overflow: hidden;
		img {
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .services-row__content
	&__content {
		@media (min-width: ($md3+px)) {
			@include adaptiv-value("margin-right", 181, -54, 1);
		}
	}
}
.row-content {
	// .row-content__title
	&__title {
		color: #000;
		@include adaptiv-value("font-size", 32, 28, 1);
		letter-spacing: 0.64px;
		span {
			color: $blueColor;
		}
		@include adaptiv-value("margin-bottom", 40, 25, 1);
	}
	// .row-content__text
	&__text {
		p {
			letter-spacing: 0.32px;
			&:not(:last-child) {
				margin: 0px 0px calc(15px / 16px * 1em) 0px;
			}
		}
	}
}
//</SERVICES>=================================

//<>=================================

//</>=================================

//<>=================================

//</>=================================

//<>=================================

//</>=================================

//<>=================================

//</>=================================

//<>=================================
//</>=================================

//</ОСНОВНОЙ БЛОК>=================================
